#page {
	height: window.innerheight;
	width: window.innerwidth;
	position: fixed;
	text-align: center;
}

.fill {
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	background-color: RGB(200,200,200);
}

table {
	background-color: white;
	text-align: center;
	border: 1px solid black;
	padding: 5%;
	left: 25%;
	right: 25%;
	width: 50%;
}

#title {
	position absolute;
	top: 5%;
}

#inventory {
	position: absolute;
	top: 5%;
}

#cart {
	position: absolute;
	top: 50%;
}

th {
	border-bottom: 2px solid black;
	padding-bottom: 25px;
}

tr {
	border-bottom: 1px solid black;
}

th, tr {
	text-align: center;
	vertical-align: center;
	padding: 10px;	
}

#basket {
	background-color: white;
	text-align: center;
	border: 1px solid black;
	padding: 15px;
	left: 25%;
	right: 25%;
	width: 50%;
	position: absolute;
	bottom: 10px;
}